@import "reset";

$dark: #387E96;
$grey: #8CA5AD;
$light: #D1EAF3;
$middleDarker: #ADD8E6;
$middleLighter: #C5E7F3;

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-top-wrapper {
  position: fixed;
  width: 100%;
  background-color: $dark;
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  &__logo {
    height: 60px;
  }

  &__create-card {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid $light;
    border-radius: 8px;
    color: $light;
  }
}

.cards {
  box-sizing: border-box;
  overflow: auto;
  height: 100vh;
  padding: 100px 20px 0;
  background-color: $light;
}

.card-item {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: 150px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: $middleDarker;

}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 35px;
}

.new-card {
  position: relative;
  width: 20%;
  background-color: $light;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //align-items: center;
  padding: 0 40px;

  & > * {
    margin: 10px 0;
  }

  &-wrapper {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
  }

  &__text-input {
    outline: none;
    border: none;
    //margin: 20px 0;
  }

  &__btn {
    border: none;
    color: $dark;
    //margin: 20px 0;
  }
}
